{% extends 'core/base.html' %}
{% load humanize %}
{% block content %}
	<div class="container">
		<div class="columns">
			<div class="column is-12">
				<h1 class="title">Followers -- {{user.username}}</h1> 
				<p> Num: {{user.toinkerprofile.followed_by.count }}</p>
			</div>	
		</div>	
		<div class="columns">
			<div class="column is-8">
				{% for oinker in user.toinkerprofile.followed_by.all %}
				 	<p><a href="{% url 'oinkerprofile' oinker.user.username %}">{{oinker.user.username}}</a></p>
		 		{% empty %}
		 			{% if request.user == user %}
		 				<p>Sorry,You dont have any followers</p>
	 				{% else %}
		 				<p>{{user.username}} You doesn't have any followers</p>
	 				{% endif %}
 				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}