{% extends 'core/base.html' %}
{% block content %}
{% load humanize %}
	<div class="container" id="feedapp">
		<div class="columns">
			<div class="column is-12">
				<div class="wrapper-form">
					<form v-on:submit.prevent="submitOink">
						<div class="field">
							<div class="control">
								<textarea class="textarea" v-model="body" placeholder="What are you thinkng"></textarea>
							</div>
						</div>
						<div class="field">
							<div class="control">
								<button class="button is-success">Submit</button>
							</div>
						</div>
					</form>
				</div>
				<div class="wrapper-oinks">
					{% for oink in oinks %}
						<div class="oink">
							<article class="media">
								<figure class="media-left">
									<p class="image is-64x64">
										{% if user.toinkerprofile.avatar %}
											<img src="{{ user.toinkerprofile.avatar.url }}">
										{% endif %}
									</p>
								</figure>
								<div class="media-content">
									<div class="content">
										<p>
											<strong>{{oink.created_by.username}}</strong>
											<small>{{oink.created_at|naturaltime}}</small>
											<br>
											{{oink.body}}
											<br>
											<a @click="likeOink({{oink.id}})"></a>
										</p>
									</div>
									
								</div>
							</article>
						</div>
					{% endfor %}
					<div v-for="oink in oinks" class="oink">
						<article class="media">
							<figure class="media-left">
								<p class="image is-64x64">
									<img :src="oink.avatar">
								</p>
							</figure>
							<div class="media-content">
								<div class="content">
									<p>
										<strong>[[oink.oinker]]</strong>
										<small>[[oink.created_at]]</small>
										<br>
										{{oink.body}}
									</p>
								</div>
								
							</div>
						</article>
					</div>
				</div>
			</div>
			
		</div>
	</div>


{% endblock %}

{% block script %}

<script>
	new Vue({
		el: '#feedapp',
		delimiters: ['[[',']]'],
		data () {
			return {
				oinks: [],
				body: '',
				oinker: '{{ request.user.username }}',
				created_at: 'Now',
				avatar: '{% if request.user.toinkerprofile.avatar %}{{request.user.toinkerprofile.avatar.url}}{% endif %}'

			}
		},
		methods: {
			submitOink(){
				console.log('submitOink');
				if (this.body.length > 0){
					var oink = {
						'body': this.body,
						'oinker':this.oinker,
						'created_at': this.created_at,
						'avatar':this.url
					};
					
					this.oinks.unshift(oink);
					//Send To backend 
					fetch('/api/add_oink/',{
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
							'X-CSRFToken': '{{ csrf_token }}'
						},
						credntials: 'same-origin',
						body : JSON.stringify(oink)
					})
					.then((response) =>{
						console.log(response)
					})
					.catch((error) =>{
						console.log(error)
					})
				}
				window.location.reload();
				this.body= '';
			}
		}
	})
</script>
{% endblock %}